{% extends 'base.html.twig' %}

{% block title %}A Propos {% endblock %}

{% block content %}


    <!--================section about us =================-->
    <section class="speaker-bg-1 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0">
                    <img src="{{ asset ('img/about-us/about-digital.png') }}" alt="" class="img-promote-1 ">
                </div>
                <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0 posi">
                    <span><h3 class="divider text-black">Quelques mots à propos de nous  </h3></span>
                    <p class="offset-top-75 offset-lg-top-87 text-justify text-black promote-1-text-size">Notre équipe de spécialistes produit régulièrement des
                        résultats exceptionnels, alliant des idées créatives à notre vaste expérience.
                        Nous pouvons vous aider à établir une relation durable et significative avec vos clients en
                        les associant à votre marque via les médias sociaux. Nous travaillons dans des domaines aussi variés que
                        l'optimisation des moteurs de recherche, le marketing dans les médias sociaux,
                        le marketing par courriel et le marketing numérique.
                    </p>
                    <div class="text-center btn-cons">{{ include ('contact/_btn-contact.html.twig')  }}</div>
                </div>
            </div>
        </div>
    </section>
    <!--================end about us=================-->
    <!--================ notre mission =================-->

    <section class="speaker-bg-1 section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-sm-12 mb-6 mb-lg-0 ">
                    <span><h3 class="divider text-black text-center">Notre Mission</h3></span>
                    <p class="offset-top-75 offset-lg-top-87 text-center text-black promote-1-text-size">Agent de référencement est dédié à servir nos clients
                        d'abord et au mieux de nos capacités. Mais nous croyons également que notre équipe est à son meilleur
                        lorsque tout le monde est heureux - et nous nous assurons que notre équipe est heureuse!
                        Parce que notre équipe travaille très dur pour tous nos clients, nous pensons qu'ils méritent de jouer aussi!
                        Notre philosophie est que si nous prenons soin de nos employés, ils prendront bien soin de vous.
                        C’est la raison pour laquelle notre équipe profite des avantages amusants de quelques autres entreprises,
                        comme emmener nos kayaks d’entreprise sur Susquehanna, siroter des brouillons de notre société kegerator et
                        traîner au siège de notre agent de référencement.
                        Obtenez une meilleure idée de ce dont nous parlons en consultant notre journal photo et en regardant les vidéos ci-dessous!
                    </p>

                </div>
            </div>
        </div>
    </section>
    <!--================End mission=================-->
    <section class="speaker-bg-1 section-padding text-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-sm-12 mb-6 mb-lg-0 ">
                    <span><h3 class="divider text-black ">Notre Equipe</h3></span>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="round-photo "><img src="images/index-3-170x170.jpg" alt="" width="170" height="170"></div>
                    <h5 class="card-speaker "><a href="#">James Johnson</a></h5>
                    <p class="offset-top-8 ">Founder, SEO Expert</p>
                    <p class=" offset-top-30 offset-md-top-50 inset-lg-left-10 inset-lg-right-10">James Johnson is the founder and CEO of SeoAgent. He has been working in Marketing since 2001 and got “bit” by the “SEO &amp; Social” bug in 2005.</p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="round-photo "><img src="images/index-3-170x170.jpg" alt="" width="170" height="170"></div>
                    <h5 class="card-speaker "><a href="#">James Johnson</a></h5>
                    <p class="offset-top-8 ">Founder, SEO Expert</p>
                    <p class=" offset-top-30 offset-md-top-50 inset-lg-left-10 inset-lg-right-10">James Johnson is the founder and CEO of SeoAgent. He has been working in Marketing since 2001 and got “bit” by the “SEO &amp; Social” bug in 2005.</p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="round-photo "><img src="images/index-3-170x170.jpg" alt="" width="170" height="170"></div>
                    <h5 class="card-speaker "><a href="#">James Johnson</a></h5>
                    <p class="offset-top-8 ">Founder, SEO Expert</p>
                    <p class=" offset-top-30 offset-md-top-50 inset-lg-left-10 inset-lg-right-10">James Johnson is the founder and CEO of SeoAgent. He has been working in Marketing since 2001 and got “bit” by the “SEO &amp; Social” bug in 2005.</p>
                </div>
            </div>
        </div>

    </section>
    <!--================ Sponsor section Start =================-->
    <section class="section-padding--small sponsor-bg text-center">
        <div class="container">
            <div class="col-lg-12 col-sm-12 mb-6 mb-lg-0 ">
                <span><h3 class="divider text-black ">Nos Partenaires</h3></span>
            </div>
            <div class="sponsor-wrapper sponsor-wrapper--small">

                <div class="row">
                    <div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
                        <div class="sponsor-single">
                            <img class="img-fluid" src="img/home/sponsor-sm-1.png" alt="">
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
                        <div class="sponsor-single">
                            <img class="img-fluid" src="img/home/sponsor-sm-2.png" alt="">
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
                        <div class="sponsor-single">
                            <img class="img-fluid" src="img/home/sponsor-sm-3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--================ Sponsor section End =================-->


{% endblock %}
