/*=================== custom button rule start ====================*/
.button{
  font-family: $title-font;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 54px;
  // letter-spacing: 1px;
  border-radius: 4px;
  color: $title-color;
  // color: $white;
  border: 1px solid $primary-color;
  text-transform: uppercase;
  @include transition;

  @media(max-width: 767px){
    font-size: 13px;
    padding: 9px 24px;
  }

  &:hover{
    background: $primary-color;
    color: $white;
  }


  &-link{
    letter-spacing: 0;
    color: #3b1d82;
    border: 0;
    padding: 0;

    &:hover{
      background: transparent;
      color: #3b1d82;
    }
  }

  &-header{
    background: $primary-color-btn;
    color: $white;
    border-color: $primary-color-btn;

    &:hover{
      background: $primary-color-btn;
      color: $white;
    }
  }

  &-contactForm{

    background: $primary-color;
    color: $white;
    border-color: $primary-color;

    &:hover{
      border-color: $primary-color2;
      background: $primary-color-btn;
      color: $white;
    }
  }
}
/*=================== custom button rule end ====================*/
.btn {
  transition: .3s ease-out;
  text-transform: uppercase;
  font-family: montserrat,sans-serif;
  border: none;
  display: inline-block;
  margin-left: auto;

  @media(max-width: 767px){
    font-size: 13px;
    padding: 9px 24px;
  }

  &:hover{
    background: $primary-color;
    color: $white;
  }


  &-link{
    letter-spacing: 0;
    color: #3b1d82;
    border: 0;
    padding: 0;

    &:hover{
      background: transparent;
      color: #3b1d82;
    }
  }


  &.btn-shadow {
    box-shadow: inset 0 -5px 0 0 rgba(0,0,0,.15);
  }
  &.btn-rect {
    border-radius: 5px;
  }
  &.btn-icon {
    vertical-align: middle;
  }

  &.btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
  }
  &.btn-sm-2 {
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    letter-spacing: .025em;
    margin: 25px;
  }
  @media (min-width: 768px){
    .btn-sm-2 {
      padding: 10px;
    }
    &.rd-navbar-fixed .btn {
      position: fixed;
      top: 8px;
      right: 3px;
      z-index: 999;
    }
    &.rd-navbar-fixed .btn .icon {
      padding-right: 0;
    }

    &.btn-icon-left .icon {
      padding-right: 10px;
    }
    &.btn-icon .icon {
      vertical-align: middle;
      transition: 0s;
    }
    &.btn-icon span {
      vertical-align: middle;
    }
    .icon-xs {
      font-size: 18px;
    }
    &.icon {
      display: inline-block;
      transition: .3s;
      line-height: 1;
    }
  }
  @media (min-width: 576px){
    .btn-sm-2 {
      padding: 10px;
    }
  }
  &:hover{
    background: $primary-color2;
    color: $white;
  }

  &.rd-navbar-fullwidth .btn {
    order: 2;
  }
}

