/* font family
	============================================================================================ */
$title-font: 'Open Sans', sans-serif;
$text-font: 'Open Sans', sans-serif;


/* color variables
	============================================================================================ */
$title-color: #000000;
$text-color:#383838;
$primary-color: #f26b00;
$primary-color2: #381783;
$primary-color-btn: #f26b00;


$black: #242429;
$link-color: #000;
$white: #fff;


/* google fonts
	============================================================================================ */
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');





