
<a class="btn btn-sm-2 btn-primary btn-icon btn-icon-left btn-shadow btn-rect"  href="{{ path ('am_analyse') }}">
    <span class="icon icon-md mdi-account-multiple"></span>
    <span>{{ button_label|default('Analyse de site | Gratuit') }}</span></a>
