<div class="media contact-info">
    <span class="contact-info__icon"><i class="ti-home"></i></span>
    <div class="media-body">
        <h3>Rhône-Aples, France.</h3>
        <p>Saint-Etienne, 42100</p>
    </div>
</div>
<div class="media contact-info">
    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
    <div class="media-body">
        <h3><a href="tel:454545654">00 (33) 0767061325</a></h3>
        <p>Lun au Ven 9am à 6pm</p>
    </div>
</div>
<div class="media contact-info">
    <span class="contact-info__icon"><i class="ti-email"></i></span>
    <div class="media-body">
        <h3><a href="mailto:support@colorlib.com">support@eliket-grp.com</a></h3>
        <p>Envoyez-nous votre requête à tout moment!</p>
    </div>
</div>